{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load format_telephone %}
{% load static %}

{% block content %}

{% if bid.customer.company_name %}{{ bid.customer.company_name }}<br>{% endif %}
{{ bid.customer.first_name }} {{ bid.customer.last_name }}<br>
{{ bid.address.street }}<br>
{{ bid.address.city }}, {{ bid.address.state }} {{ bid.address.zip }}<br>
{{ bid.customer.telephone|format_telephone }}<br><br><br>


<form action="" method="POST">
    {% csrf_token %}
    {% crispy form %}
</form>
<br>
<br>


<div class="entries">
  <h4><strong>Items:</strong>
    <a href="{% url 'bid_item_app:bid_item_create' bid=bid.id %}" class="btn btn-sm btn-success">Add</a>
    <a href="{% url 'bid_item_app:bid_item_custom_create' bid=bid.id %}" class="btn btn-sm btn-info">Add Custom Item</a></h4>
  </h4>
  <h4><strong>Services:</strong>
    <a href="{% url 'service_group_app:driveway_create' bid=bid.id %}" class="btn btn-sm btn-success">Cement</a>
    <a href="" class="btn btn-sm btn-success">Colored-Stamped</a>
    <a href="" class="btn btn-sm btn-success">Steps</a>
    <a href="" class="btn btn-sm btn-success">Foundation</a>
    <a href="" class="btn btn-sm btn-success">Tuckpointing</a>
    <a href="" class="btn btn-sm btn-success">Egress Window</a>
  </h4>
    <div class="datagrid">
    <table>
      <thead>
        <tr>
          <th width="50px"><strong>Description</strong></th>
          <th width="50px"><strong>Edit</strong></th>
          <th width="50px"><strong>Delete</strong></th>
          <th width="75px"><strong>Quantity</strong></th>
          <th width="30px"><strong>Cost</strong></th>
          <th width="30px"><strong>Total</strong></th>
        </tr>
      </thead>

      {% for item in bid_items %}
          <tr style="{% cycle 'background: white' 'background: #F0F0F0' %}">
              <td>{{ item.description }}</td>
              <td><a href="{% url 'bid_item_app:bid_item_update' pk=item.id %}">Edit</a></td>
              <td><a href="{% url 'bid_item_app:bid_item_delete' pk=item.id %}">Delete</a></td>
              <td>{% if item.quantity %}{{ item.quantity }}{% endif %}</td>
              <td>{% if item.cost %}{{ item.cost|floatformat:2 }}{% endif %}</td>
              <td>{{ item.total|floatformat:2 }}</td>
          </tr>
      {% endfor %}

      <thead>
        <tr>
          <th width="75px"><strong>Total</strong></th>
          <th width="30px"><strong></strong></th>
          <th width="30px"><strong></strong></th>
          <th width="30px"><strong></strong></th>
          <th width="30px"><strong></strong></th>
          <th width="30px"><strong>${{ total_cost|floatformat:2 }}</strong></th>
        </tr>
      </thead>
    </table>
    </div>
</div>

<br>
    <a href="{% url 'pdf_app:pdf_view' bid_id=bid.id %}" target="_blank" class="btn btn-sm btn-info"
       role="button">View PDF</a>

    <a href="" target="_blank" class="btn btn-sm btn-info"
       role="button">View PDF Invoice-TODO</a>

    <a href="{% url 'pdf_app:pdf_save' bid_id=bid.id %}" class="btn btn-sm btn-warning"
       role="button">Save PDF</a>

    <a href="{% url 'pdf_app:pdf_list' pk=bid.id %}" class="btn btn-sm btn-warning"
       role="button">PDF Archive</a>

    <a href="{% url 'customer_app:customer_detail' pk=bid.customer.id %}" class="btn btn-sm btn-primary"
       role="button">Return to Customer</a>


{% endblock content %}