{% load crispy_forms_tags %}
{% load bootstrap %}

<div class="row">
    {% if title %}
    <h4>{{ title }}</h4>
    {% endif %}
    <div class="col-sm-6 col-sm-offset-3">
        <form method="POST" action="">{% csrf_token %}
        {{ form|bootstrap }}

        <input class="btn btn-default" type="submit" value="{% if btn_title %}{{ btn_title }}{% else %}Submit{% endif %}" />
        </form>
    </div>
</div>


<div class="row"> 
    <h4>Schedule Bid</h4> 
    <div class="col-sm-6 col-sm-offset-3"> 
        <form method="POST" action=""> {% csrf_token %}  
            {{ form.description }} 
            <br>         Scheduled Bid Date: 
            <input type="text" name="scheduled_bid_date" id="scheduled_bid_date" value=""> 
            <br>         <button class="btn btn-sm btn-success" type="submit">Save</button> 
        </form> 
    </div> 
    </div>