<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>Customers</title>
</head>

<body>
    <h1>Customers</h1>
    <div>My Potential Clients</div>

    <div>
    {% if customers %}
    <ul>
        {% for customer in customers %}
            <li>{{ customer.name }}</li>
        {% endfor %}
    </ul>
    {% else %}
        <strong>There are no customers present.</strong>
    {% endif %}
    </div>
    <div>
        <a href="/customer/add_customer/">Add a New Customer</a><br />
    </div>
</body>
</html>