{% extends "base.html" %}

{% block content %}

<div class="entries">
  <a href="{% url 'photo_app:photo_upload' bid_id=bid_id %}" class="btn btn-sm btn-success" role="button">Add Photo</a>
  <a href="{% url 'bid_app:bid_detail' pk=bid_id %}" class="btn btn-sm btn-info" role="button">Return to Bid</a>
  <br><br>
{% for photo in object_list %}
  <div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="{{ MEDIA_URL }}{{ photo.file }}">
        <img src="{{ MEDIA_URL }}{{ photo.file }}" alt="Lights" style="width:100%">
        <div class="caption">
          <p><a href="{% url 'photo_app:photo_delete' pk=photo.pk %}" class="btn btn-sm btn-danger" r
                ole="button">Delete</a></p>
        </div>
      </a>
    </div>
  </div>
{% endfor %}


{% endblock content %}
