{% extends "base.html" %}

{% block content %}

<div class="entries">
  <h4><strong>Services </strong><a href="{% url 'service_app:service_create' %}"
                                    class="btn btn-sm btn-success" role="button">Add</a></h4>
  <div class="datagrid">
    <table>
      <thead>
        <tr>
          <th width="10px"><strong>Category</strong></th>
          <th width="200px"><strong>Description</strong></th>
          <th width="50px"><strong>Cost</strong></th>
          <th width="50px"><strong>Measurement</strong></th>
          <th width="50px"><strong>Edit</strong></th>
            <th width="50px"><strong>Delete</strong></th>
        </tr>
      </thead>
      {% for service in object_list %}
        <tr style="{% cycle 'background: white' 'background: #F0F0F0' %}">
            <td>{{ service.category.name }}</td>
            <td>{{ service.description }}</td>
            <td>{{ service.cost }}</td>
            <td>{{ service.measurement }}</td>
            <td><a href="{% url 'service_app:service_update' pk=service.pk %}">Edit</a></td>
            <td><a href="{% url 'service_app:service_delete' pk=service.pk %}">Delete</a></td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>

{% endblock content %}