{% extends "base.html" %}
{% load urlify %}
{% load format_telephone %}

{% block content %}
<strong>Customer Details:</strong><br>

{% if customer.company_name %}{{ customer.company_name }}<br>{% endif %}
{{ object.first_name }} {{ object.last_name }}<br>
{{ object.telephone|format_telephone }}<br>
{{ object.email }}<br>
<em>Created: {{ object.created_date }} (customer_id = {{ object.pk }})</em><br><br>

<a href="{% url 'customer_app:customer_update' pk=object.pk %}" class="btn btn-sm btn-info"
   role="button">Edit</a>
<a href="{% url 'customer_app:customer_delete' pk=object.pk %}" class="btn btn-sm btn-danger"
   role="button">Delete</a>


<div class="entries">
  <h4><strong>Addresses </strong><a href="{% url 'address_app:address_create' customer_id=object.pk %}"
                                    class="btn btn-sm btn-success" role="button">Add</a></h4>
  <div class="datagrid">
    <table>
      <thead>
        <tr>
          <th width="40%"><strong>Street</strong></th>
          <th width="20%"><strong>City</strong></th>
          <th width="5%"><strong>State</strong></th>
          <th width="7%"><strong>ZIP</strong></th>
          <th width="28%"><strong>Actions</strong></th>
        </tr>
      </thead>
      {% for address in addresses %}
        <tr style="{% cycle 'background: white' 'background: #F0F0F0' %}">
            <td>
                <a href="https://www.google.com/maps/place/{{ address.street|urlify|add:'+'|add:address.zip }}"
                   target="_blank">{{ address.street }}</a></td>
            <td>{{ address.city }}</td>
            <td>{{ address.state}}</td>
            <td>{{ address.zip}}</td>
            <td>
                <a href="{% url 'bid_app:bid_create' address_id=address.pk %}" class="btn btn-sm btn-primary">Schedule Bid</a>

                <a href="{% url 'address_app:address_update' pk=address.pk %}" class="btn btn-sm btn-info">Edit</a>

                <a href="{% url 'address_app:address_delete' pk=address.pk %}" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
<br>


<div class="entries">
  <h4><strong>Bids</strong></h4>
  <div class="datagrid">
    <table>
      <thead>
        <tr>
          <th width="10%"><strong>Date</strong></th>
          <th width="55%"><strong>Description</strong></th>
          <th width="20%"><strong>Status</strong></th>
          <th width="15%"><strong>Actions</strong></th>
        </tr>
      </thead>
      {% for bid in bids %}
      <tr style="{% cycle 'background: white' 'background: #F0F0F0' %}">
          <td>{{ bid.timestamp }}</td>
          <td>{{ bid.description }}</a></td>
          <td>{{ bid.status }}</td>
          <td>
              <a href="{% url 'bid_app:bid_update' pk=bid.pk %}" class="btn btn-sm btn-info">Edit</a>

              <a href="{% url 'bid_app:bid_delete' pk=bid.pk %}" class="btn btn-sm btn-danger">Delete</a>
          </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

{% endblock content %}